createdAt: "2018-05-22T15:01:51.240Z"
updatedAt: "2018-05-22T15:01:56.984Z"
type: "MARKDOWN_NOTE"
folder: "ba934aa67dcfca1d55ec"
title: "test"
content: "test"
tags: []
isStarred: false
isTrashed: false
